@{
    ViewData["Title"] = "Access Denied";
}


<div class="login-body-style w3-container w3-card-2 w3-white w3-margin-bottom">

    <div class = "login-body-content">
        <header>
            <h1 class="text-danger">Access Denied.</h1>
            <p class="text-danger">You do not have access to this resource.</p>
        </header>
	</div>
</div>
