@{
    ViewData["Title"] = "Confirm Email";
}



<div class="login-body-style w3-container w3-card-2 w3-white w3-margin-bottom">

    <div class = "login-body-content">
        <h2 class="w3-text-teal">@ViewData["Title"].</h2>
        <div>
            <p class="w3-text-grey">
                Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
            </p>
        </div>
	</div>
</div>
