@{
    ViewData["Title"] = "Forgot Password Confirmation";
}



<div class="login-body-style w3-container w3-card-2 w3-white w3-margin-bottom">

    <div class = "login-body-content">
        <h2 class="w3-text-teal"> ViewData["Title"].</h2>
        <p class="w3-text-grey">
            Please check your email to reset your password.
        </p>
	</div>
</div>
