@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}



<div class="login-body-style w3-container w3-card-2 w3-white w3-margin-bottom">

    <div class = "login-body-content">
        <h2 class="w3-text-teal">@ViewData["Title"]</h2>
        <p class="w3-text-grey">
            For more information on how to enable reset password please see this <a href="https://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
        </p>

        @*<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <h4 class="w3-text-teal">Enter your email.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" placeholder="Email Address" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>*@
	</div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
