@{
    ViewData["Title"] = "Locked out";
}

<div class="login-body-style w3-container w3-card-2 w3-white w3-margin-bottom">

    <div class = "login-body-content">
        <header>
            <h1 class="text-danger">Locked out.</h1>
            <p class="text-danger">This account has been locked out, please try again later.</p>
        </header>
	</div>
</div>
