@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="login-body-style w3-container w3-card-2 w3-white w3-margin-bottom">

    <div class = "login-body-content">
        <h2 class="w3-text-teal">@ViewData["Title"].</h2>

        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal">
            <h4 class="w3-text-grey">Reset your password.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger" placeholder="Email Address"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger" placeholder="Password"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger" placeholder="Confirm Password"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Reset</button>
                </div>
            </div>
        </form>
	</div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
