@{
    ViewData["Title"] = "Reset password confirmation";
}



<div class="login-body-style w3-container w3-card-2 w3-white w3-margin-bottom">

    <div class = "login-body-content">
        <h1 class="w3-text-teal">@ViewData["Title"].</h1>
        <p class="w3-text-grey">
            Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
        </p>
		
	</div>
</div>
